.tvShowsContainer {
  margin: 45px 40px 40px 40px;

  h2 {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
  }

  .results {
    display: block;

    .tvShow {
      display: inline-block;
      margin-bottom: 30px;
      height: 278px;

      .imageContent {
        width: 185px;
        height: 100%;
        float: left;
        cursor: pointer;

        a {
          width: 100%;
          height: 100%;
          display: block;
          line-height: 0;

          img {
            width: 185px;
            height: 278px;
          }
        }
      }

      .info {
        width: calc(100% - 185px);
        position: relative;
        box-sizing: border-box;
        padding: 10px 16px 16px 16px;
        background: #2E363F;
        height: 100%;
        float: right;

        .tvShowRate {

          .starIcon {
            position: absolute;
            right: 12px;
            top: 6px;
          }

          span {
            color: #ffffff;
            position: absolute;
            right: 36px;
            top: 5px;
          }
        }

        p {
          color: #ffffff;
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          top: 45px;
          padding-left: 10px;
          padding-right: 10px;
          word-wrap: break-word;
        }
      }
    }
  }
}